.main {
    margin: 1rem 1rem 0;
    
    .race {
        margin-top: 1.75rem;
    }

    .msgQueue {
        height: 5rem;
        border-top: solid .0625rem;
        border-bottom: solid .0625rem;
        overflow-y: auto;
        font-size: .75rem;
    }
    
    .resources {
        margin-top: 1rem;
        .resource {
            display: flex;
            :first-child {
                width: 35%;
            }
            :nth-child(2) {
                text-align: right;
                width: 40%;
            }
            :nth-child(3) {
                text-align: right;
                width: 25%;
            }
        }
    }
    
    .content {
        .tab-content {
            padding: 0 1rem 1rem;
        }
        .tab-item {
            padding: 0 0 3rem 1rem;
        }
        a.button {
            width: 11rem;
            margin: 1rem 1rem 0 0;
            
            span.count {
                position: absolute;
                top: -.125rem;
                right: -.125rem;
                display: inline-block;
                height: 1.125rem;
                line-height: 1rem;
                padding: 0 .25rem;
                border-top: .0625rem solid #282f2f;
                border-right: .0625rem solid #282f2f;
                border-radius: 0 7px 0 7px;
                overflow: hidden;
                background: #1f2424;
            }
        }
        a.button:hover > span {
            border-top: .0625rem solid #3a4344;
            border-right: .0625rem solid #3a4344;
        }
    }
    
    > div.popper {
        margin-top: .125rem;
        text-align: center;
        padding: 1rem;
        max-width: 18rem;
        border-radius: .25rem;
        > div:nth-child(2),
        > div:nth-child(3) {
            border-top: solid 1px black;
        }
    }
    
    .job {
        margin-left: 1rem;
        display: flex;
        
        .controls {
            margin-bottom: 1px;
        }
        
        .job_label {
            cursor: default;
            span {
                display: inline-block;
            }
            :first-child {
                margin-right: .5rem;
                width: 10rem;
            }
            :nth-child(2) {
                min-width: 4rem;
                text-align: center;
            }
        }
        
        .add {
            display: inline-block;
            margin-right: .25rem;
            padding: 0 .375rem .25rem;
            border-radius: 0 .375rem .375rem 0;
            border: #ccc solid 1px;
            line-height: .75rem;
            cursor: pointer;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .sub {
            outline: none;
            display: inline-block;
            margin-left: .25rem;
            padding: 0 .375rem .25rem;
            border-radius: .375rem 0 0 .375rem;
            border: #ccc solid 1px;
            line-height: .75rem;
            cursor: pointer;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
    
    .importExport {
        margin-top: 1rem;
    }
    
    .reset {
        margin-top: 3rem;
        
        .notification {
            margin-top: .5rem;
        }
    }
}
