.main {
    margin-top: 1rem;
    
    .race {
        margin-top: 1.75rem;
    }

    .resources {
        margin-top: 1rem;
        .resource {
            display: flex;
            :first-child {
                width: 35%;
            }
            :nth-child(2) {
                text-align: right;
                width: 35%;
            }
            :nth-child(3) {
                text-align: right;
                width: 25%;
            }
        }
    }
    
    .content {
        .tab-content {
            padding: 0 1rem 1rem;
        }
        .tab-item {
            padding: 0 0 3rem 1rem;
        }
        a.button {
            width: 10rem;
            margin: 1rem 1rem 0 0;
        }
    }
    
    > div.popper {
        margin-top: .125rem;
        text-align: center;
        padding: 1rem;
        max-width: 18rem;
        border-radius: .25rem;
        > div:nth-child(2),
        > div:nth-child(3) {
            border-top: solid 1px black;
        }
    }
    
    .job {
        margin-left: 1rem;
        
        .add,
        .sub {
            display: inline-block;
            margin: 0 .25rem;
            padding: 0 .375rem;
            border-radius: .125rem;
            border: #ccc solid 1px;
            cursor: pointer;
        }
    }
}
