<!DOCTYPE HTML>
<html>
<head>
    <title>Evolve</title>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8">
    <link rel="icon" href="evolved.ico" type="images/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/buefy@0.7.2/dist/buefy.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch@0.7.2/darkly/bulmaswatch.min.css">
    <link rel="stylesheet" type="text/css" href="evolved.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://unpkg.com/buefy@0.7.2/dist/buefy.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.14.6/dist/umd/popper.min.js"></script>
    <script src="lib/lz-string.min.js"></script>
    <script src="vars.js" type="module"></script>
    <script src="races.js" type="module"></script>
    <script src="resources.js" type="module"></script>
    <script src="jobs.js" type="module"></script>
    <script src="civics.js" type="module"></script>
    <script src="actions.js" type="module"></script>
    <script src="events.js" type="module"></script>
    <script src="main.js" type="module"></script>
</head>
<body>
    <div id="topBar" class="topBar">
        <span class="calendar" v-show="city.calendar.day">
            <span class="year">Year <span class="has-text-warning">{{ city.calendar.year }}</span></span> 
            <span class="day">Day <span class="has-text-warning">{{ city.calendar.day }}</span></span>
            <b-tooltip :label="weather()" position="is-bottom" type="is-dark" size="is-small" multilined animated><i id="weather" class="fas"></i></b-tooltip>
            <b-tooltip :label="temp()" position="is-bottom" type="is-dark" size="is-small" multilined animated><i id="temp" class="temp fas"></i></b-tooltip>
        </span>
    </div>
    <div id="main" class="main">
        <div class="columns is-gapless">
            <div class="column is-one-quarter">
                <div id="race" class="race columns is-mobile is-gapless">
                    <div class="column is-one-quarter"><b-tooltip :label="desc()" position="is-right" type="is-dark" size="is-large" multilined animated>{{ name() }}</b-tooltip></div>
                    <div class="column is-half"></div>
                    <div class="column is-one-quarter power"><span class="has-text-warning" v-show="city.powered"><span>kW</span> <span id="powerMeter" class="meter">{{ city.power }}</span></span></div>
                </div>
                <b-collapse :open="true">
                    <div id="msgQueue" class="msgQueue has-text-info"></div>
                </b-collapse>
                <div id="resources" class="resources"></div>
            </div>
            <div class="column is-three-quarters">
                <div id="tabs" class="content">
                    <b-tabs v-model="civTabs" :animated="animated">
                        <b-tab-item id="evolution" :visible="showEvolve" label="Evolve"></b-tab-item>
                        <b-tab-item id="city" :visible="showCity" label="Village"></b-tab-item>
                        <b-tab-item id="civic" :visible="showCivic" label="Civics" class="columns"></b-tab-item>
                        <b-tab-item id="industry" :visible="showIndustry" label="Industry" class="columns"></b-tab-item>
                        <b-tab-item id="tech" :visible="showResearch" label="Research"></b-tab-item>
                        <b-tab-item id="market" :visible="showMarket" label="Exchange"></b-tab-item>
                        <b-tab-item id="genetics" :visible="showGenetics" label="Genetics"></b-tab-item>
                        <b-tab-item id="space" :visible="showSpace" label="Space"></b-tab-item>
                        <b-tab-item id="settings" label="Settings">
                            <b-switch v-model="animated">Tab Animations</b-switch>
                            <div class="importExport">
                                <b-field label="Import/Export Save">
                                    <b-input id="importExport" type="textarea"></b-input>
                                </b-field>
                                <button class="button" onclick="importGame()">Import Game</button>
                                <button class="button" onclick="exportGame()">Export Game</button>
                            </div>
                            <div class="reset">
                                <b-collapse :open="false">
                                    <b-switch v-model="disableReset" slot="trigger">Enable Reset Button</b-switch>
                                    <div class="notification">
                                        <div class="content">
                                            <h4 class="has-text-danger">
                                                Warning: This completely resets all your progress and can not be undone
                                            </h4>
                                            <p>
                                                <button class="button" :disabled="!disableReset" @click="reset()">Reset Game</button>
                                            </p>
                                        </div>
                                    </div>
                                </b-collapse>
                            </div>
                        </b-tab-item>
                    </b-tabs>
                </div>
            </div>
        </div>
    </div>
    <div class="promoBar"><span class="left"><span class="has-text-warning">Evolve</span> by <span class="has-text-success">Demagorddon</span></span><span class="right"><a href="https://www.reddit.com/r/EvolveIdle/" target="_blank">Reddit</a><span>|</span><a href="https://github.com/pmotschmann/Evolve" target="_blank">GitHub</a></span></div>
</body>
</html>
